<div class="container">
        <div class="row" style="border:1px solid;" ng-repeat="auction in auctions | filter:searchText">
            <div class="col-xs-4">
            	<img ng-if="!auction.imageOid" src="/projectwork-web/assets/img/loading.gif" />
            	<img ng-if="auction.imageOid" ng-src="/projectwork-web/rest/auction/getImage/{{auction.oid}}/{{auction.imageOid}}" class="img-responsive" style="max-height:320px;margin:auto;display:block;"></div>
            <div class="col-xs-8">
                <div class="row">
                    <div class="col-xs-12">
                        <h1 style="color:rgb(0,0,0);">{{auction.title}}</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <p style="color:rgb(0,0,0);font-size:16px;"><br>{{auction.description}}&nbsp;<br><br></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <p style="width:100%;height:100%;max-width:100%;"><br><span style="font-size:20px;color:rgb(0,0,0);"><strong>Data inizio asta:&nbsp;</strong></span><span style="font-size:20px;">{{auction.startAuction | date:'dd/MM/yyyy HH:mm:ss'}}</span></p>
                    </div>
                    <div class="col-xs-6">
                        <p style="width:100%;height:100%;"><br><span style="font-size:20px;color:rgb(0,0,0);"><strong>Data fine asta:&nbsp;</strong></span><span style="font-size:20px;">{{auction.endAuction | date:'dd/MM/yyyy HH:mm:ss'}}</span></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6"><button class="btn btn-default" ng-click="goToDetail(auction.oid)" type="button" style="background-image:url(&quot;none&quot;);background-color:#f59c1f;color:#2d3e51;border-radius:10px;width:97px;font-size:16px;"><strong>Seleziona</strong></button></div>
                    <div class="col-xs-6">
                        <p style="width:100%;height:100%;"><span style="width:50%;font-size:20px;color:rgb(0,0,0);"><strong>Migliore offerta ({{auction.pricing}}):&nbsp;</strong></span><span style="width:50%;font-size:20px;">{{auction.currentWinningPrice | currency}}</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>