<a class="btn btn-default" role="button" href="#/" style="background-image:url(&quot;none&quot;);background-color:#f59c1f;color:#2d3e51;border-radius:10px;width:100%;font-size:20px;margin-bottom:20px;"><strong>Torna alle aste</strong></a>
    <div
        class="container" style="max-width:100%;">
        <div class="row">
            <div class="col-xs-6">
                <div class="carousel slide carousel-fade" data-ride="carousel" data-interval="false" id="carousel1">
                    <div class="carousel-inner" role="listbox">
                        <div class="item active"><img class="img-responsive" src="https://source.unsplash.com/8EfcODk_MBA/1440x960" alt="Slide Image">
                            <div class="carousel-caption">
                                <h3>Obnoxiae retinere </h3>
                                <p>Populatam populatam expresse ei ad </p>
                            </div>
                        </div>
                        <div class="item"><img src="https://source.unsplash.com/HNOaMthcq0w/1440x960" alt="Slide Image">
                            <div class="carousel-caption">
                                <h3>Dum nixus poterat quibus</h3>
                                <p>Neque eius tu Non sustinere </p><button class="btn btn-default" type="button">Aut nobis ne </button></div>
                        </div>
                        <div class="item"><img src="https://source.unsplash.com/yPbBYE1pkHo/1440x960" alt="Slide Image">
                            <div class="carousel-caption">
                                <h3>Virtute possit </h3>
                                <p>Tamen Quod adiuves ille quamvis </p>
                            </div>
                        </div>
                    </div>
                    <div><a class="left carousel-control" ng-href="" role="button" data-slide="prev"><i class="icon-arrow-left"></i><span class="sr-only">Previous</span></a><a class="right carousel-control" ng-href="" role="button" data-slide="next"><i class="icon-arrow-right"></i><span class="sr-only">Next</span></a></div>
                    <ol
                        class="carousel-indicators">
                        <li data-target="#carousel1" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel1" data-slide-to="1"></li>
                        <li data-target="#carousel1" data-slide-to="2"></li>
                        </ol>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-xs-12">
                                <h1 style="color:rgb(0,0,0);">{{auction.title}}</h1>
                            </div>
                        </div>
                        <div class="row" style="max-height:30%;">
                            <div class="col-xs-12">
                                <p style="color:rgb(0,0,0);font-size:16px;">Descrizione&nbsp;<br><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ornare sem sed nisl dignissim, facilisis dapibus lacus vulputate. Sed lacinia lacinia magna.&nbsp;<br><br><br></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:20px;">
            <div class="col-md-12">
                <div class="row" style="border-top:1px solid;">
                    <div class="col-xs-6">
                        <h3 class="text-nowrap" style="color:rgb(0,0,0);">Migliore offerta:&nbsp;</h3>
                    </div>
                    <div class="col-xs-6">
                        <h3 class="text-nowrap" style="color:rgb(0,0,0);">599.00€</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="input-group">
                            <div class="input-group-addon" style="background-color:rgba(255,255,255,0);border:0px;"><span style="font-size:24px;color:rgb(0,0,0);">Fai un'offerta:</span></div><input class="form-control" type="text" pattern="[0-9]" inputmode="numeric">
                            <div class="input-group-btn"><button class="btn btn-default" type="submit" style="background-image:url(&quot;none&quot;);background-color:#f59c1f;color:#2d3e51;border-radius:10px;width:97px;font-size:16px;"><strong>Conferma</strong></button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:20px;">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-xs-6">
                        <h3 class="text-nowrap" style="color:rgb(0,0,0);">Data inizio:&nbsp;</h3>
                    </div>
                    <div class="col-xs-6">
                        <h3 style="color:rgb(0,0,0);">01-05-2018 12:00</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <h3 class="text-nowrap" style="color:rgb(0,0,0);">Data fine:</h3>
                    </div>
                    <div class="col-xs-6">
                        <h3 style="color:rgb(0,0,0);">03-05-2018 12:00</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:20px;border-top:1px solid;">
            <div class="col-md-12">
                <h2 class="text-left" style="color:rgb(0,0,0);">Abbonamento a canali di notifica</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="input-group">
                    <div class="input-group-addon" style="background-color:rgba(255,255,255,0);color:rgb(0,0,0);font-size:20px;border:0px;">
                        <p class="text-left"><span style="font-size:24px;">Notifiche Browser</span></p>
                    </div>
                    <div class="input-group-btn"><button class="btn btn-default" type="submit" style="background-image:url(&quot;none&quot;);background-color:#f59c1f;color:#2d3e51;border-radius:10px;width:97px;font-size:16px;"><strong>Registrati</strong></button></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="input-group">
                    <div class="input-group-addon" style="background-color:rgba(255,255,255,0);color:rgb(0,0,0);font-size:20px;border:0px;">
                        <p class="text-left"><span style="font-size:24px;">Notifiche Email &nbsp; &nbsp;</span></p>
                    </div>
                    <div class="input-group-btn"><button class="btn btn-default" type="submit" style="background-image:url(&quot;none&quot;);background-color:#f59c1f;color:#2d3e51;border-radius:10px;width:97px;font-size:16px;"><strong>Registrati</strong></button></div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:20px;border-top:1px solid;">
            <div class="col-xs-12">
                <h2 class="text-left" style="color:rgb(0,0,0);">Fornitore:</h2>
            </div>
        </div>
        <div class="row" style="text-overflow:ellipsis;">
            <div class="col-xs-12">
                <div class="input-group">
                    <div class="input-group-addon" style="background-color:rgba(255,255,255,0);color:rgb(0,0,0);font-size:20px;border:0px;">
                        <p class="text-left" style="white-space:nowrap;overflow:hidden;text-overflow:ellipsis;width:190px;font-size:24px;"><span>NomeFornitore</span></p>
                    </div>
                    <div class="input-group-btn"><button class="btn btn-default" type="submit" style="background-image:url(&quot;none&quot;);background-color:#f59c1f;color:#2d3e51;border-radius:10px;width:97px;font-size:16px;"><strong>Info</strong></button></div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:20px;border-top:1px solid;">
            <div class="col-xs-12">
                <h2 class="text-left" style="color:rgb(0,0,0);">Prodotto:</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <p style="font-size:24px;color:rgb(0,0,0);">NomeProdotto</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <p style="color:rgb(0,0,0);font-size:16px;">Descrizione&nbsp;<br><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ornare sem sed nisl dignissim, facilisis dapibus lacus vulputate. Sed lacinia lacinia magna.&nbsp;<br><br><br></p>
            </div>
        </div>
        </div>